/* Fonte: Kiwi Maru */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

*{
    padding: 0;
    margin: 0;

    background-color: #FEFDFD;
}

.box{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Kiwi Maru", serif;
}

.primeira-row{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 95%;
    height: 10%;

    padding-right: 5%;

    background-color: #B6CCC8;
}

.primeira-row p{
    background-color: #B6CCC8;

    padding-left: 5%;
    font-size: larger;

    width: 100%;
}

.segunda-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    align-items: center;

    width: 100%;
    height: 5%;

    background-color: #8AA7A2;

}

/* teste */

.segunda-row p{
    font-size: 24px;
    background-color: #8AA7A2;
}

.segunda-row p a{
    text-decoration: none;

    margin:0;

    background: #8AA7A2;
    color:#FFF;
    border-radius:5px;

}

.segunda-row p a:hover{
    background: #6d9b93;
    color: #000; 
    border-color: #000;
}

/* footer{
    width: 100%;
    height: 5%;

    background-color: #8AA7A2;
    text-align: center;
} */

.botão-profile{
    background-color: #B6CCC8;
}

.btn-redondo{

    width: 50px;
    height: 50px;

    display: block;

    border: 2px solid #000;
    border-radius: 50%;

    color: #f5f5f5;
    text-align: center;
    text-decoration:none;
    font-size:36px;
    font-weight:bold;

    box-shadow: 0 0 3px gray;
    background-color: #8AA7A2;
}

.btn-redondo:hover{
    background: #6d9b93;

}

.primeira-row a{
    align-self: flex-end;
    background-color: #8AA7A2;

}

.formulario{
    
    width: 80vw;

    display: flex;
    flex-direction: column;
    justify-content: center;


    border: 5px solid black;
    border-radius: 15px;
}

.formulario h1{
    text-align: center;
}

form input[type=text]{

    width: 50%;
    height: 0.1vw;

    font-size: 20px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2%;
    border-radius: 10px;
    margin-top: 2%;

    background-color: #E5E5E5;
    color: #000000;
}

input[type=submit]{
    
    width: 50%;
    margin-top: 1%;
}

.botão{
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 10vh;
}

#entrar{
    width: 15%;
    height: 40%;

    margin-left: auto;
    margin-right: auto;
    /* margin-left: 30%; */
    
    background-color: #C25848;
    color: #FFFFFF;
    border: #FFFFFF;

    border-radius: 15px;

    margin-top: 2%;

}

#entrar:hover{
    background-color: #ac4839;
    cursor: pointer;
}